@import "compass/css3";

html, body{
  margin:0px; padding:0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
    max-width: 100%;
}


header{
  z-index: 1;
  position:fixed; 
  width:100%; 
  height:60px; 
  background-color: transparent;
}

header a{
  color:white; 
  display:inline-block; 
  padding:0px 10px; 
  height:60px;
  line-height:60px; 
  text-align:center;
  font-family: 'Roboto Slab', serif; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:700;
  margin:2px;
}

#hero1{
 background:url('../assets/header-bg.jpg');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#hero2{background: url('../assets/ADVANTAGES-AND-DISADVANTAGES-OF-BEING-A-DEVELOPER-.jpeg');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  
}

#hero3{
    background: url('../assets/photo-1522252234503-e356532cafd5.jpg');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
    
}

.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}


.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}

.copy2{
    position:absolute; 
  top:15%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}



.hero h1, .hero p{ 
  color:#fff;
}

.content h1, .content p{
  color:#333;
}

h1{
  margin:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:400;
  font-size:2rem;
  padding:0px 20px;
}

p{
  font-family: 'Noto Sans', sans-serif; 
  font-size:1rem;
  padding:0px 20px;
  text-align: justify;
}

.hero-img{
    border-radius: 50%;
}




.wrapper {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 10ch;
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .redes-ul li a{
    text-decoration: none;
    color:rgb(2, 2, 20);
  }

  .gallery-item {
    cursor: pointer;
  }